{% extends "planning/base_site.html" %}
{% comment %}
/*
 * Copyright © 2018, 2019 Maël A
 *
 * This file is part of CLEP, a leaves scheduler web app.
 *
 * CLEP is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * CLEP is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with CLEP.  If not, see <https://www.gnu.org/licenses/>.
 */

/*
 * This file and CLEP copy code from and use the Django web framework which is
 * distributed under the following license:
 *
 *
 * Copyright (c) Django Software Foundation and individual contributors.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 *     1. Redistributions of source code must retain the above copyright notice,
 *        this list of conditions and the following disclaimer.
 *
 *     2. Redistributions in binary form must reproduce the above copyright
 *        notice, this list of conditions and the following disclaimer in the
 *        documentation and/or other materials provided with the distribution.
 *
 *     3. Neither the name of Django nor the names of its contributors may be
 *        used to endorse or promote products derived from this software without
 *        specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 */
{% endcomment %}

{% load static %}
{% load i18n %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "planning/calendar.css" %}" />
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'planning:index' %}">{% trans 'Home' %}</a>
&rsaquo; {{ page_name }}</div>
{% endblock %}


{% block content %}
<table id="leavestable">
	<tr id="day-number-line">
		<th class="topleft-cell" rowspan="2"></th>

	{% for category in categories %}
		<th colspan="{{ category.items|length }}" class="day-number">
			{{ category.name }}
		</th>
	{% endfor %}
	</tr>

	<tr>
		{% for category in categories %}
		{% for item in category.items %}
		<th class="day-number">
			{{ item.name }}
		</th>
		{% endfor %}
		{% endfor %}
	</tr>

{% for report in reports %}
	<tr>
		<th style="background-color: {{ report.color }}">
			{{ report.employee}}
		</th>
	{% for value in report.values %}
		<td class="value">{{ value }}</td>
	{% endfor %}
	</tr>
{% endfor %}

	<tr>
		<th class="bottomleft-cell" rowspan="2"></th>

		{% for category in categories %}
		{% for item in category.items %}
		<th class="day-number">
			{{ item.name }}
		</th>
		{% endfor %}
		{% endfor %}
	</tr>

	<tr id="day-number-line">
	{% for category in categories %}
		<th colspan="{{ category.items|length }}" class="day-number">
			{{ category.name }}
		</th>
	{% endfor %}
	</tr>
</table>
{% endblock %}
