{% extends "planning/base_site.html" %}
{% comment %}
/*
 * Copyright © 2018, 2019 Maël A
 *
 * This file is part of CLEP, a leaves scheduler web app.
 *
 * CLEP is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * CLEP is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with CLEP.  If not, see <https://www.gnu.org/licenses/>.
 */

/*
 * This file and CLEP copy code from and use the Django web framework which is
 * distributed under the following license:
 *
 *
 * Copyright (c) Django Software Foundation and individual contributors.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 *     1. Redistributions of source code must retain the above copyright notice,
 *        this list of conditions and the following disclaimer.
 *
 *     2. Redistributions in binary form must reproduce the above copyright
 *        notice, this list of conditions and the following disclaimer in the
 *        documentation and/or other materials provided with the distribution.
 *
 *     3. Neither the name of Django nor the names of its contributors may be
 *        used to endorse or promote products derived from this software without
 *        specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 */
{% endcomment %}

{% load static %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'planning:index' %}">{% trans 'Home' %}</a>
&rsaquo; {{ page_name }}</div>
{% endblock %}


{% block content %}
{% if form %}
<form action="{{ form_url }}" method="post">{% csrf_token %}
<div>
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ form.non_field_errors }}
{% endif %}

<fieldset class="module aligned">
{% for field in form %}
        <div class="form-row{% if field.errors.as_ul %} errors{% endif %}
	{% if field.name %} field-{{ field.name }}{% endif %}">
                {{ field.errors.as_ul }}
                <div class="required
			{% if field.is_checkbox %}checkbox-row{% endif %}">
                    {% if field.is_checkbox %}
                        {{ field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
		        {{ field }}
                    {% endif %}
                    {% if field.help_text %}
                        <div class="help">{{ field.help_text|safe }}</div>
                    {% endif %}
                </div>
        </div>
{% endfor %}
</fieldset>

<div class="submit-row">
<p class="deletelink-box">
<input type="submit" value="{{ submit_text }}" class="default" name="_ok" />
</p>
</div>

</div>
</form>
{% endif %}

<div id="content-main">
<form action="invalid/" method="get"><div>
	<fieldset class="module aligned">
	<h2>RTT</h2>
	<div class="form-row"><div>
			<label>Acquis {{current_year}}:</label>
			<div class="readonly">{{ acquired_rtt }}</div>
	</div></div>
	<div class="form-row"><div>
			<label>Déjà pris:</label>
		<div class="readonly">{{ rtt_used }}</div>
	</div></div>
	<div class="form-row"><div class="required">
		<label>Restant:</label>
		<div class="readonly">{{ rtt_left }}</div>
	</div></div>
	</fieldset>

	<fieldset class="module aligned">
	<h2>Congés</h2>
	<div class="form-row"><div>
		<label>Acquis {{current_year}}:</label>
		<div class="readonly">{{ acquired_leaves }}</div>
	</div></div>
	<div class="form-row"><div>
		<label>dont congés de fractionnement:</label>
		<div class="readonly">{{ fractioned_leaves }}</div>
	</div></div>
	<div class="form-row"><div>
		<label>Restant de {{previous_year}}:</label>
		<div class="readonly">{{ previous_year_left }}</div>
	</div></div>
	<div class="form-row"><div class="required">
		<label>Restant total:</label>
		<div class="readonly">{{ leaves_left }}</div>
	</div></div>
	<div class="form-row"><div>
			<label>Déjà pris {{current_year }}:</label>
		<div class="readonly">{{ leaves_used }}</div>
	</div></div>
	</fieldset>

	<fieldset class="module aligned">
	<h2>Maladie {{ current_year }}</h2>
	<div class="form-row"><div>
		<label>Nombre de jours absents:</label>
		<div class="readonly">{{ illness_count }}</div>
	</div></div>
	</fieldset>

{% if oncall_duty %}
	<fieldset class="module aligned">
	<h2>Astreinte {{current_year }}</h2>
	{% for oncall_employee in oncall_employees %}
	<div class="form-row">
		<div class="required">
		<label>{{ oncall_employee.last_name }} {{ oncall_employee.first_name }}</label>
		</div>
		<div>
		<label>Nombre de semaines:</label>
		<div class="readonly">{{ oncall_employee.week_count }}</div>
		</div>
	</div>
	{% endfor %}
	</fieldset>
{% endif %}
</div></form>
</div>
{% endblock %}
