{% extends "planning/base_site.html" %}
{% comment %}
/*
 * Copyright © 2018, 2019 Maël A
 *
 * This file is part of CLEP, a leaves scheduler web app.
 *
 * CLEP is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * CLEP is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with CLEP.  If not, see <https://www.gnu.org/licenses/>.
 */

/*
 * This file and CLEP copy code from and use the Django web framework which is
 * distributed under the following license:
 *
 *
 * Copyright (c) Django Software Foundation and individual contributors.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 *     1. Redistributions of source code must retain the above copyright notice,
 *        this list of conditions and the following disclaimer.
 *
 *     2. Redistributions in binary form must reproduce the above copyright
 *        notice, this list of conditions and the following disclaimer in the
 *        documentation and/or other materials provided with the distribution.
 *
 *     3. Neither the name of Django nor the names of its contributors may be
 *        used to endorse or promote products derived from this software without
 *        specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 */
{% endcomment %}

{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "planning/footerfix.css" %}" />
{% endblock %}

{% block extrahead %}
{{ block.super }}
{% include "planning/scripts.html" %}
{% endblock %}

{% block bodyclass %}{{ block.super }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'planning:index' %}">{% trans 'Home' %}</a>
&rsaquo; {{ title_header }}
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
    <div class="module filtered" id="changelist">

      <form id="changelist-form" method="post" novalidate>{% csrf_token %}
      {% block result_list %}
      	{% if form %}
      	<div class="actions">
		<label>{{ form.action.label }} {{ form.action }}</label>
		<button type="submit" class="button" title="{% trans "Run the selected action" %}" name="index" value="0">{% trans "Go" %}</button>
		<span class="action-counter" data-actions-icnt="{{ entry_count }}">0 sur {{ entry_count }} sélectionée </span>
	</div>
	{% endif %}
	<div class="results">
	<table id="result_list">
		<thead>
		<tr>
			{% if form %}
			<th class="action-checkbox-column" scope="col">
			   <div class="text">
		   <span><input id="action-toggle" type="checkbox" /></span>
			   </div>
			   <div class="clear"></div>
			</th>
			{% endif %}
			{% for header in headers %}
			<th scope="col" class="{% if header.sortable %}sortable{% endif %} {% if header.sort_priority > 0 %}sorted{% endif %}">
		{% if header.sortable and header.sort_priority > 0 %}
		<div class="sortoptions">
         <a class="sortremove" href="{{ header.url_remove }}" title="{% trans "Remove from sorting" %}"></a>
         {% if sorted_field_count > 1 %}
	 <span class="sortpriority" title="{% blocktrans with priority_number=header.sort_priority %}Sorting priority: {{ priority_number }}{% endblocktrans %}">{{ header.sort_priority }}</span>
	 {% endif %}
         <a href="{{ header.url_toggle }}" class="toggle {% if header.ascending %}ascending{% else %}descending{% endif %}" title="{% trans "Toggle sorting" %}"></a>
	         </div>
		 {% endif %}
			   <div class="text">
	   {% if header.sortable %}
		<a href="{{ header.url_primary }}">{{ header.text|capfirst }}</a>
	   {% else %}
		<span>{{ header.text|capfirst }}</span></div>
	   {% endif %}
			   <div class="clear"></div>
			</th>
			{% endfor %}
		</tr>
		</thead>
		<tbody>
		{% for line in lines %}
			<tr class="{% cycle 'row1' 'row2' %}">
				{% for item in line %}
				<td
				{% if form and forloop.counter == 1 %}
					class="action-checkbox"
				{% endif %}>{{ item }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
      {% endblock %}
      <p class="paginator">
      {{ entry_count }} {% if entry_count == 1 %}demande{% else %}demandes{% endif%}
      </p>
      </form>

      {% block filters %}
          <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
{% for filter_ in filters %}
	<h3>{% blocktrans with filter_title=filter_.title %} By {{ filter_title }} {% endblocktrans %}</h3>
	<ul>
	{% for choice in filter_.choices %}
	    <li{% if choice.selected %} class="selected"{% endif %}>
	    <a href="{{ choice.query_string }}" title="{{ choice.display }}">{{ choice.display }}</a></li>
	{% endfor %}
	</ul>
{% endfor %}
          </div>
	{% endblock %}
    </div>
  </div>
{% endblock %}
