/*
 * Copyright © 2018, 2019 Maël A
 *
 * This file is part of CLEP, a leaves scheduler web app.
 *
 * CLEP is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * CLEP is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with CLEP.  If not, see <https://www.gnu.org/licenses/>.
 */
/*
 * This file and CLEP copy code from and use the Django web framework which is
 * distributed under the following license:
 *
 *
 * Copyright (c) Django Software Foundation and individual contributors.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 *     1. Redistributions of source code must retain the above copyright notice,
 *        this list of conditions and the following disclaimer.
 *
 *     2. Redistributions in binary form must reproduce the above copyright
 *        notice, this list of conditions and the following disclaimer in the
 *        documentation and/or other materials provided with the distribution.
 *
 *     3. Neither the name of Django nor the names of its contributors may be
 *        used to endorse or promote products derived from this software without
 *        specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 */

#leavestable {
	table-layout: fixed;
	width: 100%;
}

#leavestable, #leavestable th, #leavestable td {
	border: 1px solid black;
	border-collapse: collapse;
	vertical-align: middle;
}

#leavestable .topleft-cell {
	border-top-style: hidden;
	border-left-style: hidden;
	width: 12em;
}

#leavestable .bottomleft-cell {
	border-bottom-style: hidden;
	border-left-style: hidden;
	width: 12em;
}

#leavestable .no-top-border {
	border-top-style: hidden;
}

#leavestable .no-bottom-border {
	border-bottom-style: hidden;
}

#leavestable .vertical-dayparts {
	writing-mode: vertical-rl;
	font-size: 0.9em;
	padding: 8px 0px 8px 0px;
	line-height: initial;
	vertical-align: top;
}

#leavestable .daypart-columns {
	width: 1.2em;
}

#leavestable th, #leavestable .value {
	text-align: center;
}

#leavestable .day-number {
	padding: 0px;
}

#leavestable .first-part {
	border-right-style: hidden;
}

#leavestable .second-part {
	border-left-style: hidden;
}

#day-number-line {
	height: 2.4em;
}

.module table tbody tr th {
	width: 100%;
}

.module table {
	width: 600px;
}

.menu-empty-row {
	line-height: 0px;
}
